:root{
    --navTheme:#F05A22;
    --white:white;
    --black:black;
    --navBoxShadowColor:rgba(255, 190, 157, 0.81);
    --navBoxShadow:4px 14px 24px 0px var(--navBoxShadowColor);

}

*{
    margin:0;
    padding:0;
}